@import "../../responsive.scss";

.listPage {
  display: flex;
  height: 100%;

  .listContainer {
    flex: 3;
    height: 100%;

    .wrapper {
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
      position: relative; // Bu, z-index'in etkili olmasını sağlar
      z-index: 10; // Dropdown list'in üstünde olmasını sağlamak için
    }
  }

  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #f1e7f5;
    position: relative; // Bu, z-index'in etkili olmasını sağlar
    z-index: 1; // Diğer öğelerin altında kalması için düşük bir değer

    @include md {
      display: none;
    }
  }
}